<div>
  Total visits: <%= @analytics.visits %>
</div>
<div>
  Unique visits: <%= @analytics.unique_visits %>
</div>
<div>
  Visitors' most common browser: <%= @analytics.most_common_browser %>
</div>
<div>
  Visitors' most common platform: <%= @analytics.most_common_platform %>
</div>
