<div class="most-popular">
  <h3>Most Visited Links</h3>
  <% @popular_links.each do |pop_link| %>
    <div>
      <%= pop_link.short_url %> | <%= pop_link.long_url %>
    </div>
  <% end %>
</div>

<div class="most-recent">
  <h3>Most Recent Links</h3>
  <% @recent_links.each do |recent_link| %>
    <div>
      <%= recent_link.short_url %> | <%= recent_link.long_url %>
    </div>
  <% end %>
</div>
