<div>
  Your shortened link is: <%= @link.short_url %>
</div>
<div>
  The URL it points to is: <%= @link.long_url %>
</div>
<div>
  <%= link_to "View Analytics", analytic_path(@link.analytic) %>
</div>
